.controlMenu{
    height: 100vh;
    border-top: 0 !important;
    border-left: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
}
.controlMenuAside{
    height: calc(100vh - 80px);
    padding-bottom: 10px;
}